@import '~styles/variables';

.kcollapse {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 2px solid $color-grey-2;
    font-size: 18px;
    font-weight: bold;
    color: $color-grey;
    cursor: pointer;
  }

  &__body {
    padding: 20px 0;
  }

  @media (max-width: $phone-width) {
    &__header {
      padding: 20px 0;

      .fa {
        font-size: 30px;
        padding-right: 20px;
      }
    }

    &__body {
      padding: 0;
    }
  }
}
