@import '~styles/variables';

.blog-item {
  &__dropzone {
    margin-bottom: 10px;
  }

  &__image {
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__error {
    color: #a94442;
  }
}
