.description-custom {
  top: 10px;
  left: 8px;
  padding-right: 8px;
}

.preferred-provider-item_bgimage {
  background-image: url(../../images/bg1.png);
}

.preferred-provider-item_photo {
  float: right;
  height: 138px;
}
