@import '~styles/variables';
@import '~styles/mixins';

$inner-width: 585px;
$max-width: 767px;

.claim-form {
  @include lightShadow;
  @include flexCol;
  align-items: center;

  width: $max-width;
  @media (max-width: 767px) {
    width: 100%;
  }

  padding: 40px 20px;
  margin: 20px auto;
  background-color: $color-white;
  border-radius: $radius;

  &__container {
    width: 100%;
    padding: 60px 20px;
    background: linear-gradient(to bottom right, rgba($color-white, .7), rgba($color-white, .5)),
      url('~images/appointment-book.jpg') center center;
  }

  &__title {
    max-width: $inner-width;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  &__content {
    padding: 30px 0;
    max-width: $inner-width;

    &-desc {
      font-family: $font-secondary;
      margin-bottom: 30px;
    }
  }

  &__footer {
    max-width: $inner-width;
    font-family: $font-secondary;
    text-align: center;

    &-call {
      margin-bottom: 20px;

      &__link {
        color: $color-grey;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &__link {
    margin: 0 3px;
    color: $color-default;
    font-weight: bold;
    text-decoration: underline;
  }
}
