.hero-section {
  .results-wrapper {
    .result-item {
      &.doctor-result-item {
        height: 210px;

        & > a {
          padding-right: 0;
        }

        .doctor-set-hover {
          background-color: rgba(0, 0, 0, 0.05);
          overflow: visible;

          &::before {
            opacity: 1;
            transition: 0.3s ease;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 5px;
            height: 100%;
            background-color: #ff6f31;
          }
        }

        .result-item-detail {
          .image {
            &.custom-image {
              height: 150px;
            }
          }

          &__label {
            padding: 1px 3px;
            box-shadow: none;
            color: rgba(0, 0, 0, 0.5);
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: transparent;
            display: inline-block;
            margin: 8px 0;
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 800;
            vertical-align: baseline;
            border-radius: .25em;
          }
        }
      }
    }
  }
}
