@import '~styles/variables';

.modal {
  .modal-dialog {
    &.modal-partner {
      .modal-content {
        padding: 20px;

        .close {
          top: 0;
          right: 0;
        }
      }

      .avatar {
        min-width: 95px;
      }
    }
  }
}
