@import '~styles/variables';

.list-view {
  .article {
    .thumbnail {
      &.thumbnail__height {
        min-height: 305px;
      }

      .img-wrap {
        &.img-wrap__width {
          width: 210px;
        }
      }

      .description {
        @media (min-width: $phone-width){
          display: flex;
        }
        &.description__width {
          @media only screen and (min-width: $tablet-width){
            width: calc(100% - 230px);
          }
        }

        .heading {
          &-name {
            font-weight: 700;
          }
          &-address {
            font-weight: 200;
          }
        }

        &-body {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }

    .info-aside {
      &.article-asdie-info__padding {
        padding-top: 15px;
      }
    }
  }
}
